// ==============================
// Custom style
// 自定义样式
// ==============================

// Custom styles to override the theme defaults

.responsive-banner {
  max-width: 100%;
  height: auto;
}

.home-banner {
  @include transform(translateY( 12vh));
  padding: 0 0 0.5em;
  text-align: center;

  .home-avatar {
    padding: .5rem;
    width: 55rem;
    max-width: 95%;
    margin: 0 auto;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      @include border-radius(5px);
      @include box-shadow(0 0 0 .3618em rgba(0, 0, 0, .29));
      @include transition(all 0.4s ease);

      &:hover {
        position: relative;
        @include transform(translateY(-.75rem));
      }
    }
  }
}

/* Media queries for responsive design */
@media only screen and (max-width: 1200px) {
  .home-banner .home-avatar {
    width: 45rem;
  }
}

@media only screen and (max-width: 960px) {
  .home-banner .home-avatar {
    // width: 35rem;
    width: 45rem;
  }
}

@media only screen and (max-width: 768px) {
  .home-banner .home-avatar {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .home-banner .home-avatar {
    width: 95%;
    padding: .25rem;
  }
  
  .home-banner {
    @include transform(translateY(8vh));
  }
}
