{{- $profile := .Site.Params.home.profile -}}
<div class="home-profile">
    {{- with $profile.title -}}
        <h1 class="home-title">
            {{- . | safeHTML -}}
        </h1>
    {{- end -}}

    {{- with $profile.subtitle -}}
        <div class="home-subtitle">
            {{- if $profile.typeit -}}
                {{- $id := dict "Content" . "Scratch" $.Scratch | partial "function/id.html" -}}
                <div id="{{ $id }}" class="typeit"></div>
                {{- dict $id (slice $id) | dict "typeitMap" | merge ($.Scratch.Get "this") | $.Scratch.Set "this" -}}
            {{- else -}}
                {{- . | safeHTML -}}
            {{- end -}}
        </div>
    {{- end -}}

    {{- if $profile.social -}}
        {{- partial "plugin/social-links.html" . -}}
    {{- end -}}

    {{- with $profile.disclaimer -}}
        <h3 class="home-disclaimer">
            {{- . | safeHTML -}}
        </h3>
    {{- end -}}
</div>
